html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #272727;
}


.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin: 10px 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .box {
    background: #393939;
    padding: 1rem;
    border-radius: .25rem;
  }

  .template-list {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    .template-list__text {
      color: white;
      font-weight: 700;
      font-size: 30px;
      margin-right: 1rem;
    }
    .template-list__select {
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 700;
      color: #444;
      width: 100%;
      height: 34px;
      max-width: 100%;
      margin: 0;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
      border-radius: .5em;
    }
  }

  .template-input {
    margin-top: 1rem;
    .template-input__list {
      text-transform: capitalize;
      font-weight: 700;
    }
    .template-input__field {
      width: 100px;
    }
    .template-input__button {
      display: block;
      margin-top: 12px;
      width: 100%;
      height: 34px;
      background: #393939;
      color: white;
      border: 1px solid #aaa;
      border-radius: .5em;
    }
  }

}

.template-result--show {
  height: 100vh;
}

